@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@media (min-width: 1200px){
.ms-container {
    width: auto !important;
}	
}

.ms-container .ms-list{
	height: 500px !important;
}